<div class="materia">
  <div class="materia-info">
    <div class="accordion-header" [id]="'heading'+id">
      <div class="container">
        <div class="row g-4">
          <div class="col-sm-12 col-md-12">
            <p class="titulo-asignatura">{{nombre}}</p>
            <hr />
          </div>
          <div class="col-sm-12 col-md-4" *ngIf="carrera">
            <p> Programa de {{carrera}}</p>
          </div>
          <div class="col-sm-12 col-md-4" *ngIf="numEstudiantes">
            <p>{{numEstudiantes}} estudiantes</p>
          </div>
          <div class="col-sm-12 col-md-4" *ngIf="intensidadHoraria">
            <p>{{intensidadHoraria}}</p>
          </div>
          <div class="col-sm-12 col-md-4" *ngIf="aula">
            <p>{{aula}}</p>
          </div>
          <div class="col-sm-12 col-md-4" *ngIf="tipo">
            <p>{{tipo}}</p>
          </div>
          <div class="col-sm-12 col-md-12" *ngIf="horario">
            <p>{{horario}}</p>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-secondary w-100" data-bs-toggle="modal" [attr.data-bs-target]="'#modal' + id">
      Ver Competencias
    </button>
    <div class="modal modal-lg fade" [id]="'modal' + id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{nombre}}: Lista de Competencias</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-competencias
              [id_materia] = 'id'
            />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
