<section>
  <div class="container">
    <div class="cart">
      <div class="row">
        <h6 class="text-center">Lista Actividades</h6>
      </div>
      <br />
      <div class="row">
        @if(actividades.length > 0){
          <ul class="list-group">
            @for(actividad of actividades; track actividad.id){
              <li class="list-group-item">
                <app-actividad
                  [nombre]="actividad.nombre"
                  [tipo]="actividad.tipo"
                  [fecha_entrega]="actividad.fecha_entrega"
                />
              </li>
              <br />
            }
          </ul>
        }
      </div>
      <div class="row">
        <h6 class="text-center">Agregar Nueva Actividad</h6>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <input
            type="text"
            class="t_input w-100"
            [(ngModel)]="nombre"
            placeholder="Nombre Actividad"
          />
        </div>
        <div class="col-sm-12 col-md-4">
          <input
            type="text"
            class="t_input w-100"
            [(ngModel)]="tipo"
            placeholder="Tipo de Actividad"
          />
        </div>
        <div class="col-sm-12 col-md-4">
          <input
            type="text"
            class="t_input w-100"
            [(ngModel)]="fecha_entrega"
            placeholder="Fecha de Entrega"
          />
        </div>
        <div class="col-sm-12 col-md-12 w-100">
          <button
            type="submit"
            class="btn btn-outline-success w-100 boton"
            (click)="agregarItem()"
          >+</button>
        </div>
      </div>

    </div>
  </div>
</section>
